.contact-footer-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: center;
    justify-content:center;
    gap: 50px;
    width: 100dvw;
    align-items: center;
}
.contact-list{
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 35dvw;
    border: 2px solid #F45FC1;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.32);
}
h2{
    color: #F45FC1;
    text-align: center;
}
.contact-footer-container{
    color: #F45FC1;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    width: 100dvw;
    margin-top: 10dvh;
}
.contact-footer-container p{
    text-align: center;
    margin-top: 50px;
}
ul{
    list-style-type: none;
    padding: 0;
}
@media (max-width: 767px){
    .contact-footer-container{
        margin-top: 5dvh;
    }
    .contact-list{
        width: 80dvw;
    }
}
@media (min-width:768px) and (max-width:991px){
    .contact-footer-container{
        margin-top: 10dvh;
    }
    .contact-list{
        width: 70dvw;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .contact-list{
        width: 60dvw;
    }
}